*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding: 20px 8%;

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
a{text-decoration: none;
    
}